<% provide(:title, "Contact")%>
<h1>Upcoming Club Events</h1>
</br>
<p><strong>September 18 - 22: SU Club Weeks</strong></p>
<p><strong>Where:</strong> MacEwan Student Centre North and South Courtyards</p>
<p><strong>When:</strong> 9:00am - 5:00pm</p>
<p><strong>What:</strong> Club information session + meet and greet</p>
<p><strong>Who:</strong> Anyone welcome!</p>