<% provide(:title,"Log In") %>
<h1>Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label(:email, class:"inLineLabel") %>
      <%= f.email_field :email, :class => 'form-control' %>

      <%= f.label(:password, class:"inLineLabel") %>
      <%= f.password_field(:password,:class=> 'form-control') %>

      <%= f.submit("Log in",class: "btn btn-primary") %>
    <% end %>

    <p>New Member? <%= link_to "Join our cause!", signup_path %></p>

  </div>
</div>
