<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "DELETE MEMBER", user, method: :delete,
                    data: { confirm: "You sure?" } %>
      </br>
      <%= user.ucid %>
      </br>
      </br>
      Date Paid: <% user.date_paid %>
      </br>
      <%= puts "    " %>Paid? <%= user.is_paid %>
  <% end %>
  </br>
  <!-- non admins visible -->
  <%= puts "    " %>Major: <%= user.major %>
</li>
