<% provide(:title, 'Edit User') %>
<h1>Update your profile</h1>
<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label(:name,'Full Name', class:"inLineLabel") %>
        <%= f.text_field(:name, class: 'form-control') %>

        <%= f.label(:email, 'Email', class:"inLineLabel") %>
        <%= f.text_field(:email, class: 'form-control') %>

        <%= f.label(:ucid, 'UCID (UofC students only)',class:"inLineLabel") %>
        <%= f.text_field(:ucid, class: 'form-control') %>

        <%= f.label(:major, 'Major',class:"inLineLabel") %>
        <%= f.text_field(:major, class: 'form-control') %>

        <%= f.label(:password,'Password (minimum length: 6)',class:"inLineLabel") %>
        <%= f.password_field(:password, class:'form-control') %>

        <%= f.label(:password_confirmation,'Password Confirmation:',class:"inLineLabel") %>
        <%= f.password_field(:password_confirmation, class: 'form-control') %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>