@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, ect. */
$gray-medium-light: #eaeaea;

/* color pallete
#253939 darkish green
#558188 grey blue
#5FA292 tealish green
#FF9C5F light orange
#FF8B6C pinkish orange
*/
$theme-green: #34c4a1;
$theme-yellow: #fbb908;
$theme-gray: #929390;

@mixin box-sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */
.debug-dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Universal (site wide) */
body{
  background-image: linear-gradient(to bottom, white, white 50%, white 50%, white);
  background-size: cover;
  background-repeat: repeat;
  padding-top: 50px;
  width: 100%;
}
@media (max-width: 768px){
  body{ padding-top: 50px; }
}

.jumbotron {
  background: image-url("marko-blazevic-313835.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: auto;
  width: 100%;
  min-height: 500px;
  min-width: 300px;
  color: $theme-gray;
  margin: 0px 5px 0px -33px;
  padding-left: 0px;
  padding-right: 0px;
}
.jumbotron h1{
  letter-spacing: -6px;
  margin-bottom: -20px;
}
div .container{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

section{
  overflow: auto;
}
textarea{
  resize: vertical;
}
.center{
  text-align: center;
  .center h1{
    margin-bottom: 10px;
  }
}
/* typography */
h1,h2,h3,h4,h5,h5{
  line-height: 1;
}
h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $theme-gray;
}
h2{
  font-size: 2em;
  letter-spacing: -1px;
  magin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $theme-gray;
  /*color: $gray-light; */
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
  color: black;
}

a {
  color: $theme-gray;

  &:visited {
    color: $theme-gray;
  }

}

/* Footer */
footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  href:hover{
    color: transparent;
  }
  a{
    color: $gray;
    &:hover{
      color: $theme-gray;
      background: lightgray;
    }
  }
  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */
aside{
  section.user_info{
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar{
  float: left;
  margin-right: 20px;
}
.gravatar_edit{
  margin-top: 15px;
}

/* user index */
.users{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  max-width: 100%
}
.row{
  margin-left: 20px;
  alignment: center;
}


/*
.inLineLabel{
  color: #39b1c6;
}
.form-control{
  background: #d3d3d3
}
*/

.btn-primary {
  // @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  $color: black;
  $background: $theme-green;
  @include button-variant($color, $background, transparent);
  // override the default darkening with lightening
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 5%); //10% defaultW
  }
}

#error_explanation{
  color: red;
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}

.glyphicon-log-in{
  color: $theme-green;
}
.glyphicon-user{
  color: $theme-green;
}

/*
.field_with_errors{
  @extend .has-errors;
  .form-control{
    color: $state-danger-text;
  }
}
*/

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-fixed-top{
  min-height: 70px;
  background-image: linear-gradient(to bottom, white, white 50%, white 50%, white);
  background-size: cover;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding-top: 5px;
  width: auto;
}

.example3 .navbar-brand {
  height: 80px;
}
.example3 .navbar-brand:hover{
  background-color: transparent;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.25em;
}
.example3 .brand, .navbar .nav > li > a:hover {
  color: $theme-gray;
}

.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
  border-color: $theme-gray;
  border-width: 2px;
}
.example3 .navbar-toggle .icon-bar{
  background-color: $theme-gray;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}



























