<div class="example3">
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("logo.png",alt:"ovsacLogo") %>
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to("Home", root_path)%></li>
          <li><%= link_to("Our Story", ourStory_path)%></li>
          <li><%= link_to("Who are we",whoarewe_path)%></li>
          <li><%= link_to("Events",clubEvents_path)%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <% #If user is logged in then show the "Users Label"  %>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% else %>
              <li><%= link_to(signup_path) do %> <span class="glyphicon glyphicon-user"></span> Register<% end %></li>
              <li><%= link_to (login_path) do %> <span class="glyphicon glyphicon-user"></span> Log in<% end %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>